<nav class="UnderlineNav mx-auto mb-3 position-sticky top-0 color-bg-default" aria-label="Foo bar" id="navbar">
    <div class="UnderlineNav-body">
        {% for item in site.data.navigation %}
            <a class="UnderlineNav-item" href="{{ item.link | prepend:site.baseurl }}" {% if page.title == item.name %}aria-current="page"{% endif %}>
                {{ item.name }}
            </a>
        {% endfor %}
    </div>
    <div class="UnderlineNav-actions">
        <a class="btn btn-sm" href="https://piazza.com/class/kxz87tw06fv2s6" role="button" target="_blank">Piazza</a>
        <!-- <a class="btn btn-sm" href="https://class.mimir.io/" role="button" target="_blank">Mimir</a> -->
    </div>
</nav>
