<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ page.title }}</title>
    <link rel="shortcut icon" type="image/x-icon" href="{{ "/favicon.ico" | prepend: site.baseurl }}" >
    <link rel="stylesheet" href="https://unpkg.com/@primer/css/dist/primer.css">
    <link rel="stylesheet" href="{{ "/assets/css/syntax.css" | prepend:site.baseurl }}">
    <link rel="stylesheet" href="{{ "/assets/css/style.css" | prepend:site.baseurl }}">
</head>
<body class="py-2">
    {% include navigation.html %}
    <div class="markdown-body mx-auto" id="main-content">
        <div class="border rounded-2 px-5 py-2 anim-fade-in">
            {{ content }}
        </div>
    </div>
<!--     {% if page.title == "Home" %}
        <script src="{{ "/assets/js/progressbar.js" | prepend:site.baseurl }}" type="text/javascript"></script>
    {% endif %}
    <script src="{{ "/assets/js/ghshortcut.js" | prepend:site.baseurl }}" type="text/javascript"></script> -->
</body>
</html>
