<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ page.title }}</title>
    <link href="https://unpkg.com/@primer/css/dist/primer.css" rel="stylesheet">
    <style>
        body {
            overflow: -moz-scrollbars-none;
            -ms-overflow-style: none;
        }
        body::-webkit-scrollbar {
            width: 0!important;
        }
        #course-calendar {
            text-align: center;
            width: 100%;
        }
        #course-calendar td {
            width: calc(100% / 7);
            height: 60px;
        }
        #course-calendar td:first-child {
            font-weight: 600;
        }
    </style>
</head>
<body class="py-2">
    {% include navigation.html %}
    <div class="markdown-body mx-auto" style="max-width: 1000px;">
        <div class="border rounded-2 px-5 py-2 anim-fade-in">
            {{ content }}
        </div>
    </div>
</body>
</html>